* {
    box-sizing: border-box;
}

body {
    height: 3000px;
}

.transform {
    height: 100px;
    width: 100px;
    background-color: #F00;
    margin: 20px;
    transform-origin: 0% 0%;
}

.transform:hover {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.card {
    height: 150px;
    width: 100px;
    position: relative;
    text-align: center;
    color: #FFF;
    backface-visibility: hidden;
    transition: 1s all ease-in;
    -webkit-transition: 1s all ease-in;
    -moz-transition: 1s all ease-in;
    -ms-transition: 1s all ease-in;
    -o-transition: 1s all ease-in;
    -webkit-backface-visibility: hidden;
}

.card:hover {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    inset: 0;
    background-color: #F00;
}

.back {
    background-color: #00F;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}