.parent {
    font-weight: bold;

    >.child {
        color: $main_color;

        &:nth-child(2) {
            font-weight: bold;
        }

        @media (min-width:800px) {
            display: flex;
        }

        @include position($x : 1 + px);
    }

    @media (max-width:1000px) {
        flex-direction: column;
    }
}